@import "/vendor/filament/filament/resources/css/theme.css";
@import "/node_modules/cropperjs/dist/cropper.css";
@import "/vendor/awcodes/filament-curator/resources/css/plugin.css";
@import "/vendor/detit/polipages/resources/dist/polipages.css";
@config 'tailwind.config.js';

[x-cloak] {
    display: none !important;
}

.hero-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
